h1{
    text-align:center;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: green;

}
.block{
    border: 10%;border: solid blue;
width: 15%;
border-radius: 4px;
background-color: blueviolet;
display: inline-block;
}

@media all and (min-width:100px) and (max-width: 250px){
    .block{
        width: 90%;
        margin: 4px;
        padding: 2px;
        float: left;
        
    }
    
}
@media all and (min-width:250px) and (max-width: 500px){
    .block{
        width: 45%;
        margin: 4px;
        padding: 2px;
        float: left;
        
    }
    
}